.fillout input[type=text],input[type=date], input[type=email],input[type=tel] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: block;
    border: none;
    border-radius: 15px;
    background: #f1f1f1;
}

/*Input style*/
.fillout input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
} 

/*container size for the forms*/
.signup-container {
    align-items: center;
    width: 600px;
    margin: 0 auto;
}

.Book:hover {
    background-color: rgb(220, 235, 235);
}

.select-css {
    /* font-weight: bold; */
    text-align: right;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
    color: rgb(68, 135, 221);
    border: 2.2px solid rgb(68, 135, 221);
    border-radius: 0.2em;
	line-height: 1.3;
	padding: .6em 1.4em .5em .8em;
	width: 8%;
	max-width: 10%;
	box-sizing: border-box;
	margin: 7px;
	/* border: 1px solid (0, 0, 255); */
	box-shadow: 1px 4px 5px 1px rgba(0, 0, 0, 0.103);
	appearance: none;
	background-color: white;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
	background-repeat: no-repeat, repeat;
	background-position: right .7em top 50%, 0 0;
	background-size: .65em auto, 100%;
}
.select-css::-ms-expand {
	display: none;
}

.select-css:focus {
	border-color: rgb(68, 135, 221);
	/* box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7); */
	/* box-shadow: 0 0 0 3px -moz-mac-focusring; */
	color: rgb(68, 135, 221);
	outline: none;
}
.select-css option {
	font-weight:normal;
}



.libName {
	font-family: 'Times New Roman', Times, serif;
	font-size: 4em;
	/* font-weight:bold;
	color:  rgb(71, 166, 255);
	letter-spacing: 5px;
	position: relative;
	display: inline-block;
	-webkit-text-stroke: 3px black;
    -webkit-text-fill-color: white; */
}
  
h1{
	font-family: 'Times New Roman', Times, serif;
	font-size: 45px;
	text-align: center;
}

.tables{
	border-collapse: collapse;
	margin:25px 0;
	font-size: 0.9em;
	min-width: 400px;
	border-radius: 5px 5px 0 0;
	overflow:hidden;
}

.tables thead tr{
	background-color:rgb(217, 255, 255);
	color: white;
	font-weight: bold;
	text-align: left;
}

.tables th, .tables tr{
	padding: 12px 15px;
}

.tables th{
	border-bottom: 1px solid rgb(222, 248, 248);
	background-color:rgb(237, 250, 250);
}

.tables td
{
	padding-top: 7px;
	padding-bottom: 7px;
}


.tables tbody tr:last-of-type{
	border-bottom: 2px solid rgb(222, 248, 248);
}

.entry:hover{
	background-color: rgb(235, 255, 248);
}


.profile input[type=text],input[type=date], input[type=email],input[type=tel] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: block;
    border: none;
    border-radius: 15px;
    background: #f1f1f1;
}

/*Input style*/
.profile input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
} 
.profile ::placeholder{
	color: black;
}

.loader {
	border: 16px solid #f3f3f3;
	border-radius: 50%;
	border-top: 16px solid rgb(157, 214, 247);
	border-bottom: 16px solid rgb(157, 214, 247);
	width: 80px;
	height: 80px;
	-webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
  }
  
  @-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

/* The alert message box */
.alert {
	padding: 10px;
	width: auto;
	margin: auto;
	font-size: 2em;
	color: rgb(235, 52, 52);
	margin-bottom: 15px;
}
  
 